* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#loadingBox {
    position: fixed;
    width: 100%;
    height: 100%;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100000000;
    transform: translate(-50%, -50%) rotate(75deg);
    width: 15px;
    height: 15px;
}

#loading::before,
#loading::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 15px;
    animation: loading 1.5s infinite linear;
}

#loading::before {
    box-shadow: 15px 15px #e77f67, -15px -15px #778beb;
}

#loading::after {
    box-shadow: 15px 15px #f8a5c2, -15px -15px #f5cd79;
    transform: translate(-50%, -50%) rotate(90deg);
}

@keyframes loading {
    50% {
        height: 45px;
    }
}


/* 梅赛德斯-AMG */


/* AMG导航栏 */

#kong {
    width: 100%;
    height: 14vh;
    transition: all 1s;
    background: black;
}

#AMGnavBar>span {
    width: 18%;
    height: 100%;
    opacity: 0;
    display: block;
    position: absolute;
}

#AMGnavBar>span:nth-of-type(1) {
    left: 0;
}

#AMGnavBar>span:nth-of-type(2) {
    width: 16%;
    right: 0;
}

#AMGnavBar {
    width: 100%;
    height: 14vh;
    background: black;
    position: fixed;
    top: 0px;
    z-index: 10000;
    display: flex;
    justify-content: center;
    transition: all 0.6s;
}

#AMGnavBar>div {
    width: 940px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: flex-end;
}

#benzlogo {
    width: 259px;
    height: 64px;
    cursor: pointer;
}

#AMGnavBar a {
    color: white;
}

#AMGnavBar a:hover {
    color: #00ADEF;
}

#AMGnavBar p {
    font-size: 12px;
    position: relative;
    top: 30px;
    right: 330px;
    background: url(../img/navBar分隔.png) center 0% no-repeat;
}


/* 导航栏车型 */

#dhlcx {
    width: 100%;
    height: 1100px;
    position: relative;
}

#dhlcx>img {
    top: -60px;
    left: 37.2%;
    position: absolute;
    z-index: 10001;
}

#dhlcx>p {
    width: 100%;
    font: normal 36px "SimSun", serif;
    color: #333333;
    transform: scaleX(0.7);
    margin: 50px 0px 0px;
}

#dhlcx #cxcontent {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

#dhlcx #cxcontent>ul {
    position: relative;
    display: flex;
    justify-content: center;
}

#dhlcx #cxcontent>ul li {
    overflow: hidden;
}

#dhlcx #cxcontent ul li input {
    display: none;
}

#dhlcx #cxcontent ul li label {
    float: left;
    color: #666666;
    padding: 10px;
    margin: 0px 20px;
    cursor: pointer;
}

#dhlcx #cxcontent>ul>li>input:checked+label {
    color: #666666;
    border-bottom: solid 3px #00adef;
}

#dhlcx #cxcontent>ul>li>input:checked~.content {
    opacity: 1;
    transition: opacity 1s;
    visibility: visible;
}

#dhlcx #cxcontent .content {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 65px;
    display: flex;
    justify-content: center;
}

#dhlcx #cxcontent .content div {
    width: 224px;
    color: #666666;
    margin-right: 11px;
}

#dhlcx #cxcontent .content div>img {
    width: 210px;
    height: 91px;
}

#dhlcx #cxcontent .content div p {
    position: relative;
    margin-bottom: 25px;
}

#dhlcx #cxcontent .content div p img {
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 25px;
}

#dhlcx #cxcontent .content div p span {
    display: inline-block;
    font: normal 36px "SimSun", serif;
    transform: scaleX(0.7);
    margin-right: 5px;
}

#dhlcx #cxcontent .content div ul li {
    width: 200px;
    margin: 25px 0px;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    line-height: 25px;
}

#dhlcx #cxcontent .content div ul li:hover {
    color: #00adef;
    cursor: pointer;
}

#dhlcx #cxcontent .content div ul li span {
    font-size: 12px;
    display: block;
    color: #666666;
}

#dhlcx>div:nth-of-type(2) {
    width: 940px;
    height: 50px;
    padding: 30px;
    position: absolute;
    bottom: 0px;
    left: 250px;
    display: flex;
    color: #666666;
    justify-content: left;
    border-top: 1px solid #CCCCCC;
}

#dhlcx>div:nth-of-type(2) h5 {
    font-size: 17px;
    height: 25px;
    cursor: pointer;
}

#dhlcx>div:nth-of-type(2) h5:hover {
    color: #00adef;
}

#dhlcx>div:nth-of-type(2) h5:nth-of-type(2) {
    margin-right: 30px;
    margin-left: 30px;
    padding: 0px 30px;
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
}


/* 购车指南 */

#gczn {
    width: 100%;
    height: 600px;
    box-sizing: border-box;
    position: relative;
}

#gczn>img {
    top: -60px;
    left: 43%;
    position: absolute;
    z-index: 100000;
}

#gczn>p {
    width: 100%;
    text-align: left;
    font: normal 36px "SimSun", serif;
    color: #333333;
    transform: scaleX(0.7);
    margin: 50px 0px 50px 70px;
}

#gczn>div {
    width: 940px;
    height: 450px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

#gczn>div>div {
    width: 200px;
    margin: 0px 15px;
    cursor: pointer;
}

#gczn>div>div:hover p:nth-of-type(1) {
    color: #00ADEF;
}

#gczn>div>div>p {
    width: 200px;
    margin: 5px 0px;
}

#gczn>div>div>p:nth-of-type(1) {
    font-size: 14px;
}

#gczn>div>div>p:nth-of-type(2) {
    font-size: 12px;
    line-height: 25px;
}

#gczn>div>div>img {
    width: 210px;
    height: 110px;
}


/* 客户服务 */

#khfw {
    width: 100%;
    height: 600px;
    box-sizing: border-box;
    position: relative;
}

#khfw>img {
    top: -60px;
    left: 49.5%;
    position: absolute;
    z-index: 100000;
}

#khfw>p {
    width: 100%;
    text-align: left;
    font: normal 36px "SimSun", serif;
    color: #333333;
    transform: scaleX(0.7);
    margin: 50px 0px 50px 70px;
}

#khfw>div {
    width: 940px;
    height: 450px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

#khfw>div>div {
    width: 200px;
    margin: 0px 15px;
    cursor: pointer;
}

#khfw>div>div:hover p:nth-of-type(1) {
    color: #00ADEF;
}

#khfw>div>div>p {
    width: 200px;
    margin: 5px 0px;
}

#khfw>div>div>p:nth-of-type(1) {
    font-size: 14px;
}

#khfw>div>div>p:nth-of-type(2) {
    font-size: 12px;
    line-height: 25px;
}

#khfw>div>div>img {
    width: 210px;
    height: 110px;
}

#search {
    width: 100%;
    height: 60px;
    background: #222222;
    position: relative;
    /* margin-top: 108px; */
    /* z-index: 100000; */
}

#search input {
    width: 215px;
    height: 36px;
    margin-top: 10px;
    padding-left: 30px;
    background: url(../img/searchBar搜索.svg) no-repeat left;
    background-size: 10%;
    float: left;
    position: absolute;
    right: 350px;
    border: 1px solid #979797;
    color: white;
}

#search input:focus {
    /*获得焦点*/
    outline: none;
    /* input获得焦点不变蓝 */
}

#search span {
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    background: url(../img/searchBar黑右箭头.svg) no-repeat #666666;
    background-position: center;
    margin-top: 12px;
    margin-left: 20px;
    position: absolute;
    right: 298px;
    cursor: pointer;
}


/* 轮播图 */

.wrap {
    width: 100%;
    height: 86vh;
    position: relative;
}

.list {
    position: relative;
    width: 100%;
    height: 86vh;
}

.item {
    width: 100%;
    height: 86vh;
    opacity: 0;
    transition: all .6s;
    position: absolute;
    font-size: 50px;
    cursor: pointer;
}


/* 第一张 */

.wrap .list li:nth-of-type(1) {
    background: url(http://q6ayyk4mw.bkt.clouddn.com/AMG%E8%BD%AE%E6%92%AD%E5%9B%BE1.jpg) center center no-repeat;
    background-size: cover;
}

.wrap .list li:nth-of-type(1) img {
    display: block;
    width: 30%;
    height: 20%;
    margin: 0 auto;
    margin-top: 40px;
}

.wrap .list li:nth-of-type(1) p {
    width: 7%;
    height: 4vh;
    margin: 0 auto;
    line-height: 4vh;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 13px;
    background: #CC0000;
}


/* 第二张 */

.wrap .list li:nth-of-type(2) {
    background: url(http://q6ayyk4mw.bkt.clouddn.com/AMG%E8%BD%AE%E6%92%AD%E5%9B%BE2.jpg) center center no-repeat;
    background-size: cover;
}

.wrap .list li:nth-of-type(2) img {
    display: block;
    width: 30%;
    height: 20%;
    margin: 0 auto;
    margin-top: 40px;
}

.wrap .list li:nth-of-type(2) p {
    width: 7%;
    height: 4vh;
    margin: 0 auto;
    line-height: 4vh;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 13px;
    background: #CC0000;
}


/* 第三张 */

.wrap .list li:nth-of-type(3) {
    background: url(http://q6ayyk4mw.bkt.clouddn.com/AMG%E8%BD%AE%E6%92%AD%E5%9B%BE3.jpg) center center no-repeat;
    background-size: cover;
}

.wrap .list li:nth-of-type(3) img {
    display: block;
    width: 30%;
    height: 20%;
    margin: 0 auto;
    margin-top: 40px;
}

.wrap .list li:nth-of-type(3) p {
    width: 7%;
    height: 4vh;
    margin: 0 auto;
    line-height: 4vh;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 13px;
    background: #CC0000;
}


/* 第四张 */

.wrap .list li:nth-of-type(4) {
    background: url(http://q6ayyk4mw.bkt.clouddn.com/AMG%E8%BD%AE%E6%92%AD%E5%9B%BE4.jpg) center center no-repeat;
    background-size: cover;
}

.wrap .list li:nth-of-type(4) img {
    display: block;
    width: 23%;
    height: 12%;
    margin: 0 auto;
    margin-top: 40px;
}

.wrap .list li:nth-of-type(4) p:nth-of-type(1) {
    width: auto;
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-top: 20px;
}

.wrap .list li:nth-of-type(4) p:nth-of-type(2) {
    width: 7%;
    height: 4vh;
    margin: 0 auto;
    line-height: 4vh;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 13px;
    background: #CC0000;
}


/* 第五张 */

.wrap .list li:nth-of-type(5) {
    background: url(http://q6ayyk4mw.bkt.clouddn.com/AMG%E8%BD%AE%E6%92%AD%E5%9B%BE5.jpg) center center no-repeat;
    background-size: cover;
}

.wrap .list li:nth-of-type(5) img {
    display: block;
    width: 20%;
    height: 10%;
    margin: 0 auto;
    margin-top: 40px;
}

.wrap .list li:nth-of-type(5) p:nth-of-type(1) {
    width: auto;
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-top: 20px;
}

.wrap .list li:nth-of-type(5) p:nth-of-type(2) {
    width: 7%;
    height: 4vh;
    margin: 0 auto;
    line-height: 4vh;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 13px;
    background: #CC0000;
}


/* 当前显示的轮播图 */

.active {
    opacity: 1;
    z-index: 10;
}


/* 按钮 */

.btn {
    width: 2%;
    height: 5%;
    text-align: center;
    position: absolute;
    top: 45%;
    z-index: 100;
    border: none;
    outline: none;
    cursor: pointer;
}


/* 轮播图左翻页按钮 */

#goPre {
    left: 30px;
    background: url(../img/左.svg) no-repeat;
}


/* 轮播图右翻页按钮 */

#goNext {
    right: 30px;
    background: url(../img/右.svg) no-repeat;
}


/* 轮播图下中位置按钮 */

.pointList {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    z-index: 100;
}

.point {
    float: left;
    list-style: none;
    margin-right: 4px;
    cursor: pointer;
    width: 35px;
    height: 1px;
    background: white;
}

.pointList:hover li {
    height: 4px;
    background: white;
}

.pointList:hover .point.active {
    width: 0px;
    height: 4px;
    background: #CC0000;
    transition: width 4s linear;
}


/* 当前轮播图对应li */

.point.active {
    width: 0px;
    height: 1px;
    background: #CC0000;
    transition: width 4s linear;
}


/* 轮播图下AMGlogo */

#AMGlogo {
    width: 100%;
    height: 42px;
    background: black;
    background: url(http://q6ayyk4mw.bkt.clouddn.com/AMGlogo.svg) black center center no-repeat;
    background-size: cover;
}


/* AMG二级导肮 */

#AMGejdh {
    width: 100%;
    height: 60px;
    background: #222222;
    z-index: 1000;
}

#AMGejdh>div .gaoliang {
    color: #CC0000;
    border-bottom: 2px solid #CC0000;
}

#AMGejdh>div {
    width: 65vw;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

#AMGejdh>div a {
    color: white;
    line-height: 60px;
}

#AMGejdh>div a:hover {
    color: #CC0000;
    border-bottom: 3px solid #CC0000;
}

#AMG循环 {
    width: 100%;
    height: 422px;
    background: black;
}

#AMGcontent {
    background: black;
    padding-top: 50px;
}


/* AMG车型 */

#AMGOne {
    width: 100%;
    height: 110vh;
}

#AMGOne>p {
    font: normal 38px "SimSun", serif;
    color: white;
    text-align: center;
    transform: scaleX(0.7);
    margin: 50px 0px;
}

#AMGOne>p::before {
    content: "";
    position: relative;
    width: 1px;
    height: 45px;
    top: 10px;
    left: 10px;
    margin-right: 15px;
    background-color: #c00;
    display: block;
    transform: rotate(15deg);
    display: inline-block;
}


/* AMG车型       内容 */

#AMGOne #cxcontent {
    display: flex;
    justify-content: center;
}

#AMGOne #cxcontent>ul {
    position: relative;
    width: 940px;
}

#AMGOne #cxcontent ul li input {
    display: none;
}

#AMGOne #cxcontent ul li label {
    float: left;
    text-align: center;
    color: white;
    padding: 10px;
    margin: 0px 20px;
    cursor: pointer;
}

#AMGOne #cxcontent ul li:nth-of-type(1) label {
    margin-left: 350px;
}

#AMGOne #cxcontent>ul>li>input:checked+label {
    color: #CC0000;
    border-bottom: solid 3px #CC0000;
}

#AMGOne #cxcontent>ul>li>input:checked~.content {
    opacity: 1;
    transition: opacity 1s;
    visibility: visible;
}

#AMGOne #cxcontent .content {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 65px;
    display: flex;
    justify-content: space-around;
}

#AMGOne #cxcontent .content div {
    width: 224px;
    color: white;
    margin-right: 11px;
}

#AMGOne #cxcontent .content div>img {
    width: 210px;
    height: 91px;
}

#AMGOne #cxcontent .content div p {
    position: relative;
    margin-bottom: 25px;
}

#AMGOne #cxcontent .content div p img {
    position: absolute;
    bottom: -30px;
    left: -5px;
    width: 40px;
}

#AMGOne #cxcontent .content div p span {
    display: inline-block;
    font: normal 36px "SimSun", serif;
    transform: scaleX(0.7);
    margin-right: 5px;
}

#AMGOne #cxcontent .content div ul li {
    width: 200px;
    margin: 25px 0px;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}

#AMGOne #cxcontent .content div ul li:hover {
    color: #CC0000;
    cursor: pointer;
}

#AMGOne #cxcontent .content div ul li span {
    font-size: 12px;
    display: block;
}


/* AMG查找经销商 */

#AMGTwo {
    width: 100%;
}

#AMGTwo>p {
    font: normal 38px "SimSun", serif;
    color: white;
    text-align: center;
    transform: scaleX(0.7);
    margin-bottom: 50px;
}

#AMGTwo>p::before {
    content: "";
    position: relative;
    width: 1px;
    height: 45px;
    top: 10px;
    left: 10px;
    margin-right: 15px;
    background-color: #c00;
    display: block;
    transform: rotate(15deg);
    display: inline-block;
}

#AMGTwo #mapBox {
    position: relative;
    background: url(http://q6ayyk4mw.bkt.clouddn.com/404.png) center center no-repeat;
}

#mapLeft {
    position: absolute;
    top: 5%;
    left: 100px;
    width: 26%;
    height: 90%;
    z-index: 100;
    box-sizing: border-box;
    background-color: #444444;
}

#mapLeft>p:nth-of-type(1) {
    width: 100%;
    height: 16px;
    line-height: 16px;
    position: relative;
    padding: 20px;
    padding-left: 50px;
    font-size: 10px;
    color: gray;
    vertical-align: middle;
}

#mapLeft>p:nth-of-type(1) a {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

#mapLeft>input {
    display: block;
    width: 305px;
    height: 35px;
    background: url(../img/search.svg) 10px center no-repeat;
    line-height: 35px;
    padding-left: 30px;
    margin: 0px auto;
    outline: none;
    margin-bottom: 15px;
    border: 1px white solid;
}

#mapLeft>div:nth-of-type(1) {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    padding-left: 15px;
    box-sizing: border-box;
    background: #666666;
    color: white;
}

#mapLeft>div:nth-of-type(1)>span {
    display: inline-block;
    width: 90px;
    height: 18px;
    line-height: 18px;
    padding: 0px 10px;
    font-size: 12px;
    color: #CC0000;
    margin-left: 110px;
    cursor: pointer;
    background: #999999;
    border: 1px solid #CC0000;
}

#mapLeft>p:nth-of-type(2) {
    width: 100%;
    height: 40px;
    font-size: 12px;
    color: gray;
    border-bottom: 1px #D8D8D8 solid;
    padding-left: 10px;
    line-height: 40px;
}

#mapLeft #jxs {
    width: 100%;
    padding: 10px;
    border-bottom: 1px #D8D8D8 solid;
}

#mapLeft #jxs h6 {
    color: white;
}

#mapLeft #jxs h6 span {
    margin-left: 135px;
    font-size: 12px;
    color: gray;
    font-weight: 300;
}

#mapLeft #jxs p {
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

#mapLeft #jxs ul {
    cursor: pointer;
    background: url(../img/红下拉.svg) 330px center no-repeat;
}

#mapLeft #jxs ul li {
    font-size: 12px;
    color: white;
    display: inline-block;
    list-style: circle;
    margin-left: 8px;
    padding-right: 15px;
    background: url(../img/白原点.svg) right center no-repeat;
}

#AMGThree {
    width: 100%;
    margin-top: 50px;
}

#AMGThree>p {
    font: normal 38px "SimSun", serif;
    color: white;
    text-align: center;
    transform: scaleX(0.7);
    margin-bottom: 50px;
}

#AMGThree>p::before {
    content: "";
    position: relative;
    width: 1px;
    height: 45px;
    top: 10px;
    left: 10px;
    margin-right: 15px;
    background-color: #c00;
    display: block;
    transform: rotate(15deg);
    display: inline-block;
}

#AMGThree>div:nth-of-type(1) {
    width: 100%;
    height: 600px;
    background: url(http://q6ayyk4mw.bkt.clouddn.com/AMG%E5%85%AC%E5%8F%B8.jpg) right center no-repeat;
}

#AMGThree>div:nth-of-type(1)>p {
    color: white;
}

#AMGThree>div:nth-of-type(1)>p:nth-of-type(1) {
    font: normal 38px "SimSun", serif;
    color: white;
    transform: scaleX(0.7);
    padding: 220px 0px 0px 110px;
}

#AMGThree>div:nth-of-type(1)>p:nth-of-type(2) {
    width: 460px;
    line-height: 25px;
    margin: 40px 0px 0px 300px;
}

#AMGThree>div:nth-of-type(2) {
    width: 100%;
    height: 660px;
    background: white;
}

#AMGThree>div:nth-of-type(2)>ul {
    position: relative;
    width: 100%;
}

#AMGThree>div:nth-of-type(2) ul li input {
    display: none;
}

#AMGThree>div:nth-of-type(2) ul li label {
    position: absolute;
    top: 60px;
    color: black;
    cursor: pointer;
    padding-left: 12px;
    z-index: 2;
}

#AMGThree>div:nth-of-type(2) ul li label:hover {
    color: #CC0000;
}

#AMGThree>div:nth-of-type(2) ul li input:checked+label {
    color: #CC0000;
    background: url(../img/斜体.svg) left center no-repeat;
}

#AMGThree>div:nth-of-type(2) ul li input:checked~.AMGgsBody {
    visibility: visible;
}

#AMGThree>div:nth-of-type(2) ul li input:checked~.AMGgsBody img {
    opacity: 1;
}

#AMGThree>div:nth-of-type(2) .AMGgsBody {
    width: 100%;
    position: absolute;
    visibility: hidden;
    display: flex;
}

#AMGThree>div:nth-of-type(2) .AMGgsBody img {
    opacity: 0;
    transition: all 2s;
}

#AMGThree>div:nth-of-type(2) .AMGgsBody>div {
    width: 500px;
    color: black;
}

#AMGThree>div:nth-of-type(2) .AMGgsBody div p:nth-of-type(1) {
    font: normal 28px "SimSun", serif;
    transform: scaleX(0.7);
    margin: 240px 0px 30px -90px;
}

#AMGThree>div:nth-of-type(2) .AMGgsBody div p:nth-of-type(2) {
    line-height: 30px;
    width: 476px;
}

#AMGThree>div:nth-of-type(2) .AMGgsBody div p:nth-of-type(3) {
    width: 95px;
    line-height: 30px;
    margin-top: 30px;
}

#AMGThree>div:nth-of-type(2) .AMGgsBody div p:nth-of-type(3)::after {
    content: " ˇ";
    font-size: 50px;
    position: relative;
    top: 31px;
    font-weight: 100;
}

#AMGThree>div:nth-of-type(2) .AMGgsBody div p:nth-of-type(3):hover {
    color: #CC0000;
    cursor: pointer;
}


/* AMG故事 */

#AMGThree>div:nth-of-type(3) {
    width: 100%;
    height: 600px;
}

#AMGThree>div:nth-of-type(3) {
    width: 100%;
    height: 600px;
    background: url(http://q6ayyk4mw.bkt.clouddn.com/AMG%E6%95%85%E4%BA%8B.jpg) left center no-repeat;
    background-size: cover;
}

#AMGThree>div:nth-of-type(3)>p {
    color: white;
}

#AMGThree>div:nth-of-type(3)>p:nth-of-type(1) {
    font: normal 38px "SimSun", serif;
    color: white;
    transform: scaleX(0.7);
    padding: 220px 0px 0px 820px;
}

#AMGThree>div:nth-of-type(3)>p:nth-of-type(2) {
    width: 460px;
    line-height: 25px;
    margin: 40px 0px 0px 800px;
}

#AMGThree>div:nth-of-type(4) {
    width: 100%;
    height: 660px;
    background: white;
}

#AMGThree>div:nth-of-type(4)>ul {
    position: relative;
    width: 100%;
}

#AMGThree>div:nth-of-type(4) ul li input {
    display: none;
}

#AMGThree>div:nth-of-type(4) ul li label {
    position: absolute;
    top: 60px;
    color: black;
    cursor: pointer;
    padding-left: 12px;
    z-index: 2;
}

#AMGThree>div:nth-of-type(4) ul li label:hover {
    color: #CC0000;
}

#AMGThree>div:nth-of-type(4) ul li input:checked+label {
    color: #CC0000;
    background: url(../img/斜体.svg) left center no-repeat;
}

#AMGThree>div:nth-of-type(4) ul li input:checked~.AMGgusBody {
    visibility: visible;
}

#AMGThree>div:nth-of-type(4) ul li input:checked~.AMGgusBody img {
    opacity: 1;
}

#AMGThree>div:nth-of-type(4) .AMGgusBody {
    width: 100%;
    position: absolute;
    visibility: hidden;
    display: flex;
    justify-content: flex-end;
}

#AMGThree>div:nth-of-type(4) .AMGgusBody img {
    opacity: 0;
    transition: all 2s;
    order: 2;
}

#AMGThree>div:nth-of-type(4) .AMGgusBody div {
    width: 500px;
    color: black;
    order: 1;
    padding-left: 110px;
}

#AMGThree>div:nth-of-type(4) .AMGgusBody div p:nth-of-type(1) {
    font: normal 28px "SimSun", serif;
    transform: scaleX(0.7);
    margin: 240px 0px 30px -68px;
}

#AMGThree>div:nth-of-type(4) .AMGgusBody div p:nth-of-type(2) {
    line-height: 30px;
    width: 400px;
}

#AMGThree>div:nth-of-type(4) .AMGgusBody div p:nth-of-type(3) {
    width: 95px;
    margin-top: 30px;
}

#AMGThree>div:nth-of-type(4) .AMGgusBody div p:nth-of-type(3)::after {
    content: " ˇ";
    font-size: 50px;
    position: relative;
    top: 31px;
    font-weight: 100;
}

#AMGThree>div:nth-of-type(4) .AMGgusBody div p:nth-of-type(3):hover {
    color: #CC0000;
    cursor: pointer;
}

#AMGThree>div:nth-of-type(5) {
    width: 100%;
    height: 600px;
    background: url(http://q6ayyk4mw.bkt.clouddn.com/AMG%E5%B7%A5%E7%A8%8B%E6%8A%80%E6%9C%AF.jpg) right center no-repeat;
}

#AMGThree>div:nth-of-type(5)>p {
    color: white;
}

#AMGThree>div:nth-of-type(5)>p:nth-of-type(1) {
    font: normal 38px "SimSun", serif;
    color: white;
    transform: scaleX(0.7);
    padding: 220px 0px 0px 110px;
}

#AMGThree>div:nth-of-type(5)>p:nth-of-type(2) {
    width: 460px;
    line-height: 25px;
    margin: 40px 0px 0px 300px;
}


/* AMG性能设计 */

#AMGThree>div:nth-of-type(6) {
    width: 100%;
    height: 660px;
    background: white;
}

#AMGThree>div:nth-of-type(6)>ul {
    position: relative;
    width: 100%;
}

#AMGThree>div:nth-of-type(6) ul li input {
    display: none;
}

#AMGThree>div:nth-of-type(6) ul li label {
    position: absolute;
    top: 60px;
    color: black;
    cursor: pointer;
    padding-left: 12px;
    z-index: 2;
}

#AMGThree>div:nth-of-type(6) ul li label:hover {
    color: #CC0000;
}

#AMGThree>div:nth-of-type(6) ul li input:checked+label {
    color: #CC0000;
    background: url(../img/斜体.svg) left center no-repeat;
}

#AMGThree>div:nth-of-type(6) ul li input:checked~.AMGgcjsBody {
    visibility: visible;
}

#AMGThree>div:nth-of-type(6) ul li input:checked~.AMGgcjsBody img {
    opacity: 1;
}

#AMGThree>div:nth-of-type(6) .AMGgcjsBody {
    width: 100%;
    position: absolute;
    visibility: hidden;
    display: flex;
}

#AMGThree>div:nth-of-type(6) .AMGgcjsBody img {
    opacity: 0;
    transition: all 2s;
}

#AMGThree>div:nth-of-type(6) .AMGgcjsBody div {
    width: 550px;
    color: black;
}

#AMGThree>div:nth-of-type(6) .AMGgcjsBody div p:nth-of-type(1) {
    font: normal 28px "SimSun", serif;
    transform: scaleX(0.7);
    margin: 240px 0px 30px -90px;
}

#AMGThree>div:nth-of-type(6) .AMGgcjsBody div span {
    display: block;
    line-height: 30px;
    font-size: 16px;
    color: #666666;
    margin: 30px 0px;
}

#AMGThree>div:nth-of-type(6) .AMGgcjsBody div span::after {
    content: " >";
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    margin-left: 10px;
    font-family: cn-icons;
    font-weight: normal;
}

#AMGThree>div:nth-of-type(6) .AMGgcjsBody div span:hover {
    color: #CC0000;
    cursor: pointer;
}


/**/

#AMGThree>div:nth-of-type(2)>ul>li>.AMGgsBody>div .cover {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    background-size: contain;
    display: none;
    z-Index: 200000;
}

#AMGThree>div:nth-of-type(2)>ul>li>.AMGgsBody>div .cover::after {
    content: "";
    background: url(http://q6ayyk4mw.bkt.clouddn.com/AMG%E5%85%AC%E5%8F%B8%E6%A6%82%E8%A7%88.png)left center no-repeat;
    background-size: contain;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#AMGThree>div:nth-of-type(2)>ul>li:nth-of-type(1)>.AMGgsBody>div .cover::after {
    content: "";
    background: url(http://q6ayyk4mw.bkt.clouddn.com/AMG%E5%85%AC%E5%8F%B8%E6%A6%82%E8%A7%88.png)left center no-repeat;
    background-size: contain;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#AMGThree>div:nth-of-type(2)>ul>li:nth-of-type(2)>.AMGgsBody>div .cover::after {
    content: "";
    background: url(../img/打造AMG.png)left center no-repeat;
    background-size: contain;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#AMGThree>div:nth-of-type(2)>ul>li:nth-of-type(3)>.AMGgsBody>div .cover::after {
    content: "";
    background: url(../img/发现AMG.png)left center no-repeat;
    background-size: contain;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#AMGThree>div:nth-of-type(2)>ul>li:nth-of-type(4)>.AMGgsBody>div .cover::after {
    content: "";
    background: url(../img/一人一机.png)left center no-repeat;
    background-size: contain;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}


/* 弹出内容 */

#AMGThree>div:nth-of-type(2)>ul>li>.AMGgsBody>div .ydgdnr {
    position: fixed;
    width: 940px;
    height: auto;
    margin: 0 auto;
    top: 30%;
    left: 25%;
    display: none;
    z-Index: 200000;
}

#AMGThree>div:nth-of-type(2)>ul>li>.AMGgsBody>div .ydgdnr>div>p {
    font-size: 35px;
    margin: 0px;
    margin-bottom: 50px;
    margin-left: -146px;
}

#AMGThree>div:nth-of-type(2)>ul>li>.AMGgsBody>div .ydgdnr>div>p::after {
    content: "";
    position: absolute;
    left: -25px;
    top: 18px;
    transform: rotate(103deg) skew(10deg);
    width: 30px;
    height: 4px;
    background-color: #c00;
}

#AMGThree>div:nth-of-type(2)>ul>li>.AMGgsBody>div .ydgdnr>div>div>p {
    font-size: 18px;
    margin: 0;
    line-height: 30px;
    margin-left: -150px;
}


/* 关闭遮罩层按钮 */

#AMGThree>div:nth-of-type(2)>ul>li>.AMGgsBody>div .ydgdnr .guanbi {
    width: 40px;
    height: 29px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    margin: 0;
    border-radius: 50%;
    background: url(../img/关闭黑.svg) center center no-repeat;
    background-size: cover;
}

#AMGThree>div:nth-of-type(4)>ul>li>.AMGgusBody>div .cover {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    background-size: contain;
    display: none;
    z-Index: 200000;
}

#AMGThree>div:nth-of-type(4)>ul>li>.AMGgusBody>div .cover::after {
    content: "";
    background: url(../img/故事起点.png)right center no-repeat;
    background-size: contain;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#AMGThree>div:nth-of-type(4)>ul>li:nth-of-type(2)>.AMGgusBody>div .cover::after {
    content: "";
    background: url(../img/故事发展.png)right center no-repeat;
    background-size: contain;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#AMGThree>div:nth-of-type(4)>ul>li:nth-of-type(3)>.AMGgusBody>div .cover::after {
    content: "";
    background: url(../img/加入大家庭.png)right center no-repeat;
    background-size: contain;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#AMGThree>div:nth-of-type(4)>ul>li:nth-of-type(4)>.AMGgusBody>div .cover::after {
    content: "";
    background: url(../img/今日AMG.png)right center no-repeat;
    background-size: contain;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}


/* 弹出内容 */

#AMGThree>div:nth-of-type(4)>ul>li>.AMGgusBody>div .ydgdnr {
    position: fixed;
    width: 940px;
    height: auto;
    top: 30%;
    left: 25%;
    display: none;
    padding: 0;
    margin: 0;
    z-Index: 200000;
}

#AMGThree>div:nth-of-type(4)>ul>li>.AMGgusBody>div .ydgdnr div {
    padding: 0;
    margin: 0;
    width: 940px;
}

#AMGThree>div:nth-of-type(4)>ul>li>.AMGgusBody>div .ydgdnr>div>p {
    font-size: 35px;
    margin: 0px;
    margin-bottom: 50px;
    margin-left: -146px;
}

#AMGThree>div:nth-of-type(4)>ul>li>.AMGgusBody>div .ydgdnr>div>p::after {
    content: "";
    position: absolute;
    left: -25px;
    top: 18px;
    transform: rotate(103deg) skew(10deg);
    width: 30px;
    height: 4px;
    background-color: #c00;
}

#AMGThree>div:nth-of-type(4)>ul>li>.AMGgusBody>div .ydgdnr>div>div>p {
    font-size: 18px;
    margin: 0;
    line-height: 30px;
    margin-left: -150px;
}


/* 关闭遮罩层按钮 */

#AMGThree>div:nth-of-type(4)>ul>li>.AMGgusBody>div .ydgdnr .guanbi {
    width: 40px;
    height: 29px;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    margin: 0;
    border-radius: 50%;
    background: url(../img/关闭黑.svg) center center no-repeat;
    background-size: cover;
}


/**/

#AMGFour {
    width: 100%;
    height: 770px;
    margin-bottom: 100px;
}

#AMGFour>p {
    font: normal 38px "SimSun", serif;
    color: white;
    text-align: center;
    transform: scaleX(0.7);
    margin-top: 50px;
}

#AMGFour>p::before {
    content: "";
    position: relative;
    width: 1px;
    height: 45px;
    top: 10px;
    left: 10px;
    margin-right: 15px;
    background-color: #c00;
    display: block;
    transform: rotate(15deg);
    display: inline-block;
}

#AMGFour>video {
    margin-top: 100px;
    display: block;
    width: 100%;
}

#AMGFive {
    width: 100%;
}

#AMGFive>p {
    font: normal 38px "SimSun", serif;
    color: white;
    text-align: center;
    transform: scaleX(0.7);
    margin: 50px 0px;
}

#AMGFive>p::before {
    content: "";
    position: relative;
    width: 1px;
    height: 45px;
    top: 10px;
    left: 10px;
    margin-right: 15px;
    background-color: #c00;
    display: block;
    transform: rotate(15deg);
    display: inline-block;
}

#AMGFive>div {
    width: 620px;
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 30px;
    margin: 0 auto;
}

#AMGFive>video {
    margin-top: 50px;
    display: block;
    width: 100%;
}

#AMGSix {
    width: 100%;
}

#AMGSix>p {
    font: normal 38px "SimSun", serif;
    color: white;
    text-align: center;
    transform: scaleX(0.7);
    margin: 0px 0px 30px 0px;
}

#AMGSix>p::before {
    content: "";
    position: relative;
    width: 1px;
    height: 45px;
    top: 10px;
    left: 10px;
    margin-right: 15px;
    background-color: #c00;
    display: block;
    transform: rotate(15deg);
    display: inline-block;
}

#AMGSix div:nth-of-type(1) {
    width: 649px;
    height: 112px;
    text-align: center;
    margin: 0 auto;
    color: white;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 30px;
}

#AMGSix>a {
    display: block;
    width: 200px;
    height: 50px;
    color: white;
    background: #CC0000;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    margin-bottom: 60px;
}

#AMGSix img {
    display: block;
    width: 100%;
    height: 721px;
}

#AMGSix div:nth-of-type(2) {
    width: 213px;
    height: 213px;
    margin: 0 auto;
    margin-top: -100px;
}

#AMGSix div:nth-of-type(2) p {
    color: white;
    font-size: 20px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

#AMGSeven {
    width: 100%;
}

#AMGSeven>p {
    font: normal 38px "SimSun", serif;
    color: white;
    text-align: center;
    transform: scaleX(0.7);
    margin: 0px 0px 30px 0px;
}

#AMGSeven>p::before {
    content: "";
    position: relative;
    width: 1px;
    height: 45px;
    top: 10px;
    left: 10px;
    margin-right: 15px;
    background-color: #c00;
    display: block;
    transform: rotate(15deg);
    display: inline-block;
}

#AMGSeven div:nth-of-type(1) {
    width: 649px;
    height: 112px;
    text-align: center;
    margin: 0 auto;
    color: white;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 30px;
}

#AMGSeven>a {
    display: block;
    width: 200px;
    height: 50px;
    color: white;
    background: #CC0000;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    margin-bottom: 60px;
}

#AMGSeven img {
    display: block;
    width: 100%;
}

#ps {
    width: 100%;
    padding: 100px 0px;
    position: relative;
    background: black;
}

#ps img {
    left: 280px;
    top: 55px;
    position: absolute;
    width: 50px;
}

#ps>p {
    width: 940px;
    margin: 0 auto;
    color: #c7c7c7;
    font-size: 13px;
    line-height: 35px;
}

#AMGfxd {
    width: 100%;
    height: 182px;
    box-sizing: border-box;
    padding-left: 1050px;
    padding-top: 50px;
    background: black;
}

#AMGfxd span {
    font-size: 16px;
    color: white;
    padding-right: 20px;
}

#AMGfxd img {
    margin: 10px;
    vertical-align: middle;
}


/* 下部导航栏 */

#bottomNav {
    width: 100%;
    background: #F1F1F1;
    margin: 0 auto;
}

#bottomNav div:nth-of-type(1) {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 30px;
}

#bottomNav div:nth-of-type(1) ul {
    width: 200px;
    height: 535px;
}

#bottomNav div:nth-of-type(1) ul h4 {
    width: 100%;
    height: 48px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    line-height: 48px;
}

#bottomNav div:nth-of-type(1) ul li {
    width: 100%;
    height: 47.2px;
    font-size: 14px;
    font-weight: 500;
    line-height: 47.2px;
    color: #333333;
}

#bottomNav div:nth-of-type(1) ul>div {
    display: none;
}

#bottomNav div:nth-of-type(1) ul li:hover {
    color: #0090FF;
    cursor: pointer;
}


/* 其他奔驰网站 */

#bottomNav div:nth-of-type(2) {
    width: 940px;
    height: 128px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 0px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

#bottomNav div:nth-of-type(2) h4 {
    width: 100%;
    height: 48px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    line-height: 48px;
}

#bottomNav div:nth-of-type(2) a {
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-weight: 500;
    line-height: 50px;
    color: #333333;
    text-decoration: none;
    padding-right: 140px;
}

#bottomNav div:nth-of-type(2) a:hover {
    color: #0090FF;
}


/* 关注我们    微信   微博   知乎  logo */

#bottomNav div:nth-of-type(3) {
    width: 940px;
    height: 168px;
    margin: 0 auto;
    box-sizing: border-box;
}

#bottomNav div:nth-of-type(3) h4 {
    width: 100%;
    height: 48px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    line-height: 48px;
}

#bottomNav div:nth-of-type(3) a {
    margin-right: 20px;
    position: relative;
    text-decoration: none;
    top: 30px;
}


/* 版权部分   最下部 */

#AMGbanquan {
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    background: black;
    font-size: 12px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#AMGbanquan div a {
    text-decoration: none;
    color: #aaaaaa;
    font-size: 12px;
}

#AMGbanquan div:nth-of-type(1) {
    text-align: center;
}

#AMGbanquan div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

#AMGbanquan div:nth-of-type(2) a {
    margin: 0px 8px;
}

#AMGbanquan div:nth-of-type(1) a:hover {
    color: #0090FF;
}

#AMGbanquan div:nth-of-type(2) a:hover {
    color: #0090FF;
}


/* 右下角联系我们 */

#AMGleftbottom {
    width: 3%;
    height: 6%;
    position: fixed;
    right: 0;
    bottom: 20%;
    z-index: 100;
    cursor: pointer;
    background: url(../img/右下角联系我们.png)center center no-repeat;
    background-size: cover;
}


/* 弹出遮罩层 */


/* 背景遮罩层 */