/* PC端 */

html {
    overflow-x: hidden;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 3000px) {
    #cxzl {
        width: 100%;
        background: #F6F6F6;
        padding-top: 50px;
    }
    #cxzl>p {
        width: 940px;
        height: 80px;
        font: normal 400 36px/50px "SimSun", serif;
        position: relative;
        transform: scaleX(0.7);
        text-align: center;
        width: auto;
        color: #666666;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    #cxzl>p::before {
        content: '';
        width: 600px;
        height: 1px;
        background-color: #e1e1e1;
        position: absolute;
        left: 85px;
        z-index: 1;
        top: 25px;
    }
    #cxzl>p::after {
        content: '';
        width: 620px;
        height: 1px;
        background-color: #e1e1e1;
        position: absolute;
        right: 70px;
        z-index: 1;
        top: 25px;
    }
    #cxzl #cxzldhl {
        width: 120px;
        position: fixed;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
        z-index: 1000;
    }
    #cxzl #cxzldhl div {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 10px;
    }
    #cxzl #cxzldhl div p {
        width: 120px;
        position: relative;
        margin: 10px 0;
    }
    #cxzl #cxzldhl div p:hover {
        cursor: pointer;
    }
    #cxzl #cxzldhl div p:hover a {
        color: #00ADEF;
    }
    #cxzl #cxzldhl div p span {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #C7C7C7;
        position: absolute;
        top: 6px;
        right: 15px;
    }
    #cxzl #cxzldhl div a {
        width: 100%;
        color: #666666;
        font-size: 12px;
        text-align: center;
    }
    #cxzl #cxzldhl div p:hover span {
        background: #00ADEF;
    }
    #cxzl #cxzldhl div .gaoliang1 {
        color: #00adef;
    }
    #cxzl #cxzldhl div .gaoliang1 span {
        background: #00ADEF;
    }
    #cxzl #cxzlbody {
        width: 100%;
        background: white;
        display: flex;
        flex-direction: column;
    }
    /* 车型总览轿车 */
    #cxzl #cxzlbody #cxzljc {
        width: 63%;
        margin: 0 auto;
    }
    #cxzl #cxzlbody #cxzljc>h5 {
        width: 100%;
        font-size: 20px;
        text-align: center;
        padding: 50px 0px 15px;
        border-bottom: 2px solid #E1E1E1;
    }
    #cxzl #cxzlbody #cxzljc #jc24 {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #cxzl #cxzlbody #cxzljc #jc24>div {
        width: 300px;
        margin: 0px 5px;
        background: white;
        position: relative;
    }
    #cxzl #cxzlbody #cxzljc #jc24>div:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px 0;
        transition: min-height .2s, box-shadow .5s;
    }
    #cxzl #cxzlbody #cxzljc #jc24>div>div {
        padding: 20px;
    }
    #cxzl #cxzlbody #cxzljc #jc24>div>div>img {
        width: 90%;
    }
    #cxzl #cxzlbody #cxzljc #jc24>div>div>h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    #cxzl #cxzlbody #cxzljc #jc24>div>div>p {
        width: 100%;
        color: #666666;
        line-height: 30px;
        font-size: 15px;
    }
    #cxzl #cxzlbody #cxzljc #jc24>div>ul {
        width: 100%;
        display: none;
    }
    #cxzl #cxzlbody #cxzljc #jc24>div:hover ul {
        display: block;
        position: absolute;
        bottom: -200;
        z-index: 10;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px 2px;
    }
    #cxzl #cxzlbody #cxzljc #jc24>div>ul li {
        width: 100%;
        height: 50px;
        font-size: 15px;
        line-height: 50px;
        text-indent: 1.5em;
        border-bottom: 1px solid #E2E2E2;
    }
    #cxzl #cxzlbody #cxzljc #jc24>div>ul li::after {
        content: "›";
        font-size: 25px;
        color: #00ADEF;
        position: relative;
        right: -180px;
    }
    #cxzl #cxzlbody #cxzljc #jc24>div>ul li:hover::after {
        color: white;
    }
    #cxzl #cxzlbody #cxzljc #jc24>div>ul li:hover {
        background: #00ADEF;
        color: white;
    }
    /* 车型总览SUV */
    #cxzl #cxzlbody #cxzlsuv {
        width: 63%;
        margin: 0 auto;
    }
    #cxzl #cxzlbody #cxzlsuv>h5 {
        width: 100%;
        font-size: 20px;
        text-align: center;
        padding: 50px 0px 15px;
        border-bottom: 2px solid #E1E1E1;
    }
    #cxzl #cxzlbody #cxzlsuv #SUV20 {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
    #cxzl #cxzlbody #cxzlsuv #SUV20>div {
        width: 300px;
        margin: 0px 5px;
        background: white;
        position: relative;
    }
    #cxzl #cxzlbody #cxzlsuv #SUV20>div:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px 0;
        transition: min-height .2s, box-shadow .5s;
    }
    #cxzl #cxzlbody #cxzlsuv #SUV20>div>div {
        padding: 20px;
    }
    #cxzl #cxzlbody #cxzlsuv #SUV20>div>div>img {
        width: 90%;
    }
    #cxzl #cxzlbody #cxzlsuv #SUV20>div>div>h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    #cxzl #cxzlbody #cxzlsuv #SUV20>div>div>p {
        width: 100%;
        color: #666666;
        line-height: 30px;
        font-size: 15px;
    }
    #cxzl #cxzlbody #cxzlsuv #SUV20>div>ul {
        width: 100%;
        display: none;
    }
    #cxzl #cxzlbody #cxzlsuv #SUV20>div:hover ul {
        display: block;
        position: absolute;
        bottom: -200;
        z-index: 10;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px 2px;
    }
    #cxzl #cxzlbody #cxzlsuv #SUV20>div>ul li {
        width: 100%;
        height: 50px;
        font-size: 15px;
        line-height: 50px;
        text-indent: 1.5em;
        border-bottom: 1px solid #E2E2E2;
    }
    #cxzl #cxzlbody #cxzlsuv #SUV20>div>ul li::after {
        content: "›";
        font-size: 25px;
        color: #00ADEF;
        position: relative;
        right: -180px;
    }
    #cxzl #cxzlbody #cxzlsuv #SUV20>div>ul li:hover::after {
        color: white;
    }
    #cxzl #cxzlbody #cxzlsuv #SUV20>div>ul li:hover {
        background: #00ADEF;
        color: white;
    }
    /* 车型总览轿跑 */
    #cxzl #cxzlbody #cxzljp {
        width: 63%;
        margin: 0 auto;
    }
    #cxzl #cxzlbody #cxzljp>h5 {
        width: 100%;
        font-size: 20px;
        text-align: center;
        padding: 50px 0px 15px;
        border-bottom: 2px solid #E1E1E1;
    }
    #cxzl #cxzlbody #cxzljp #jpc13 {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
    #cxzl #cxzlbody #cxzljp #jpc13>div {
        width: 300px;
        margin: 0px 5px;
        background: white;
        position: relative;
    }
    #cxzl #cxzlbody #cxzljp #jpc13>div:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px 0;
        transition: min-height .2s, box-shadow .5s;
    }
    #cxzl #cxzlbody #cxzljp #jpc13>div>div {
        padding: 20px;
    }
    #cxzl #cxzlbody #cxzljp #jpc13>div>div>img {
        width: 90%;
    }
    #cxzl #cxzlbody #cxzljp #jpc13>div>div>h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    #cxzl #cxzlbody #cxzljp #jpc13>div>div>p {
        width: 100%;
        color: #666666;
        line-height: 30px;
        font-size: 15px;
    }
    #cxzl #cxzlbody #cxzljp #jpc13>div>ul {
        width: 100%;
        display: none;
    }
    #cxzl #cxzlbody #cxzljp #jpc13>div:hover ul {
        display: block;
        position: absolute;
        bottom: -200;
        z-index: 10;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px 2px;
    }
    #cxzl #cxzlbody #cxzljp #jpc13>div>ul li {
        width: 100%;
        height: 50px;
        font-size: 15px;
        line-height: 50px;
        text-indent: 1.5em;
        border-bottom: 1px solid #E2E2E2;
    }
    #cxzl #cxzlbody #cxzljp #jpc13>div>ul li::after {
        content: "›";
        font-size: 25px;
        color: #00ADEF;
        position: relative;
        right: -180px;
    }
    #cxzl #cxzlbody #cxzljp #jpc13>div>ul li:hover::after {
        color: white;
    }
    #cxzl #cxzlbody #cxzljp #jpc13>div>ul li:hover {
        background: #00ADEF;
        color: white;
    }
    /* 车型总览MPV */
    #cxzl #cxzlbody #cxzlmpv {
        width: 63%;
        margin: 0 auto;
    }
    #cxzl #cxzlbody #cxzlmpv>h5 {
        width: 100%;
        font-size: 20px;
        text-align: center;
        padding: 50px 0px 15px;
        border-bottom: 2px solid #E1E1E1;
    }
    #cxzl #cxzlbody #cxzlmpv #mpv02 {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
    #cxzl #cxzlbody #cxzlmpv #mpv02>div {
        width: 300px;
        margin: 0px 5px;
        background: white;
        position: relative;
    }
    #cxzl #cxzlbody #cxzlmpv #mpv02>div:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px 0;
        transition: min-height .2s, box-shadow .5s;
    }
    #cxzl #cxzlbody #cxzlmpv #mpv02>div>div {
        padding: 20px;
    }
    #cxzl #cxzlbody #cxzlmpv #mpv02>div>div>img {
        width: 90%;
    }
    #cxzl #cxzlbody #cxzlmpv #mpv02>div>div>h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    #cxzl #cxzlbody #cxzlmpv #mpv02>div>div>p {
        width: 100%;
        color: #666666;
        line-height: 30px;
        font-size: 15px;
    }
    #cxzl #cxzlbody #cxzlmpv #mpv02>div>ul {
        width: 100%;
        display: none;
    }
    #cxzl #cxzlbody #cxzlmpv #mpv02>div:hover ul {
        display: block;
        position: absolute;
        bottom: -200;
        z-index: 10;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px 2px;
    }
    #cxzl #cxzlbody #cxzlmpv #mpv02>div>ul li {
        width: 100%;
        height: 50px;
        font-size: 15px;
        line-height: 50px;
        text-indent: 1.5em;
        border-bottom: 1px solid #E2E2E2;
    }
    #cxzl #cxzlbody #cxzlmpv #mpv02>div>ul li::after {
        content: "›";
        font-size: 25px;
        color: #00ADEF;
        position: relative;
        right: -180px;
    }
    #cxzl #cxzlbody #cxzlmpv #mpv02>div>ul li:hover::after {
        color: white;
    }
    #cxzl #cxzlbody #cxzlmpv #mpv02>div>ul li:hover {
        background: #00ADEF;
        color: white;
    }
    /* 车型总览电动车 */
    #cxzl #cxzlbody #cxzlddc {
        width: 63%;
        margin: 0 auto;
    }
    #cxzl #cxzlbody #cxzlddc>h5 {
        width: 100%;
        font-size: 20px;
        text-align: center;
        padding: 50px 0px 15px;
        border-bottom: 2px solid #E1E1E1;
    }
    #cxzl #cxzlbody #cxzlddc #ddc01 {
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }
    #cxzl #cxzlbody #cxzlddc #ddc01>div {
        width: 300px;
        margin: 0px 5px;
        background: white;
        position: relative;
    }
    #cxzl #cxzlbody #cxzlddc #ddc01>div:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px 0;
        transition: min-height .2s, box-shadow .5s;
    }
    #cxzl #cxzlbody #cxzlddc #ddc01>div>div {
        padding: 20px;
    }
    #cxzl #cxzlbody #cxzlddc #ddc01>div>div>img {
        width: 90%;
    }
    #cxzl #cxzlbody #cxzlddc #ddc01>div>div>h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    #cxzl #cxzlbody #cxzlddc #ddc01>div>div>p {
        width: 100%;
        color: #666666;
        line-height: 30px;
        font-size: 15px;
    }
    #cxzl #cxzlbody #cxzlddc #ddc01>div>ul {
        width: 100%;
        display: none;
    }
    #cxzl #cxzlbody #cxzlddc #ddc01>div:hover ul {
        display: block;
        position: absolute;
        bottom: -200;
        z-index: 10;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px 2px;
    }
    #cxzl #cxzlbody #cxzlddc #ddc01>div>ul li {
        width: 100%;
        height: 50px;
        font-size: 15px;
        line-height: 50px;
        text-indent: 1.5em;
        border-bottom: 1px solid #E2E2E2;
    }
    #cxzl #cxzlbody #cxzlddc #ddc01>div>ul li::after {
        content: "›";
        font-size: 25px;
        color: #00ADEF;
        position: relative;
        right: -180px;
    }
    #cxzl #cxzlbody #cxzlddc #ddc01>div>ul li:hover::after {
        color: white;
    }
    #cxzl #cxzlbody #cxzlddc #ddc01>div>ul li:hover {
        background: #00ADEF;
        color: white;
    }
}


/* 移动端 */

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    html {
        width: 100%;
        overflow-x: hidden;
    }
    * {
        margin: 0;
        padding: 0px;
        list-style: none;
        text-decoration: none;
    }
    #Kong {
        background: black;
        width: 100%;
        height: 80px;
    }
    #AMGnavBar>span {
        display: none;
    }
    #AMGnavBar {
        width: 100%;
        height: 80px;
        background: black;
        position: fixed;
        top: 0px;
        transition: all 0.6s;
        z-index: 10000;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    #AMGnavBar>div img {
        margin-left: 20px;
        width: 162px;
        height: 40px;
    }
    #AMGnavBar>div p:nth-of-type(1) {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 40%;
        right: 20px;
        background: url(https://zh8177.top/%E6%9B%B4%E5%A4%9A.svg) no-repeat;
    }
    #AMGnavBar>div a {
        display: none;
    }
    #AMGnavBar>div>div {
        display: none;
    }
    #AMGnavBar>p {
        display: none;
    }
    /**/
    #cxzl>p:nth-of-type(1) {
        display: none;
    }
    #cxzl {
        width: 100%;
        padding: 0px 10px;
    }
    #cxzl #cxzldhl {
        display: none;
    }
    #cxzl #cxzlbody .kuai1 {
        width: 100%;
        margin: 0 auto;
    }
    #cxzl #cxzlbody .kuai1 h5 {
        font-size: 24px;
        width: 100%;
        margin: 30px 0px;
        text-align: center;
    }
    #cxzl #cxzlbody .kuai1 img {
        width: 90%;
        display: block;
        margin: 0 auto;
        margin: 20px 0;
    }
    #cxzl #cxzlbody .kuai1 {
        margin-top: 70px;
    }
    #cxzl #cxzlbody .kuai1 div {
        margin: 0 auto;
    }
    #cxzl #cxzlbody .kuai1 div div {
        border-bottom: 1px solid #E2E2E2;
    }
    #cxzl #cxzlbody .kuai1 div div div p:nth-of-type(2) {
        display: none;
    }
    #cxzl #cxzlbody .kuai1 div div div p {
        line-height: 50px;
    }
    #cxzl #cxzlbody .kuai1 ul {
        display: none;
    }
    #ps {
        width: 100%;
        /* padding: 100px 0px; */
        position: relative;
        background: black;
    }
    #ps img {
        left: 10px;
        top: 55px;
        position: absolute;
        width: 50px;
    }
    #ps>p {
        width: 90%;
        margin: 0 auto;
        color: #c7c7c7;
        font-size: 13px;
        line-height: 35px;
    }
    #AMGfxd {
        display: none;
    }
    #bottomNav {
        width: 100%;
        background: #F1F1F1;
        display: flex;
        flex-direction: column;
    }
    #bottomNav div:nth-of-type(1) {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        padding-top: 20px;
    }
    #bottomNav div:nth-of-type(1) ul {
        width: 100%;
        margin-right: 10px;
    }
    #bottomNav div:nth-of-type(1) ul h4 {
        width: 100%;
        height: 55px;
        line-height: 55px;
        font-size: 14px;
        font-weight: 500;
        color: #000000;
        border-bottom: 1px solid #C7C7C7;
    }
    #bottomNav div:nth-of-type(1) ul>li {
        display: none;
        width: 100%;
        text-indent: 1em;
        height: 47.2px;
        font-size: 14px;
        font-weight: 500;
        line-height: 47.2px;
        color: #333333;
    }
    #bottomNav div:nth-of-type(1) ul div>li {
        width: 100%;
        text-indent: 1em;
        height: 47.2px;
        font-size: 14px;
        font-weight: 500;
        line-height: 47.2px;
        color: #333333;
    }
    #bottomNav div:nth-of-type(2) {
        display: none;
    }
    #bottomNav div:nth-of-type(3) {
        width: 100%;
        height: 111px;
        margin: 0 auto;
        padding-left: 22px;
    }
    #bottomNav div:nth-of-type(3) h4 {
        width: 100%;
        height: 48px;
        font-size: 14px;
        font-weight: 400;
        color: #000000;
        line-height: 48px;
    }
    #bottomNav div:nth-of-type(3) a {
        margin-right: 20px;
        position: relative;
        text-decoration: none;
        top: 10px;
    }
    #bottomNav div:nth-of-type(1) {
        height: auto;
    }
    #bottomNav div:nth-of-type(1) ul {
        height: auto;
    }
    #banquan {
        width: 100%;
        height: 110px;
        margin: 0 auto;
        background: black;
        font-size: 12px;
        padding-top: 30px;
    }
    #banquan div a {
        text-decoration: none;
        color: #aaaaaa;
        font-size: 12px;
    }
    #banquan div:nth-of-type(1) {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    #banquan div:nth-of-type(2) {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    #AMGbanquan {
        width: 100%;
        height: 110px;
        margin: 0 auto;
        background: black;
        font-size: 12px;
        padding-top: 30px;
    }
    #AMGbanquan div a {
        text-decoration: none;
        color: #aaaaaa;
        font-size: 12px;
    }
    #AMGbanquan div:nth-of-type(1) {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    #AMGbanquan div:nth-of-type(2) {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    #AMGbanquan div:nth-of-type(2) a {
        margin: 0px 8px;
        line-height: 20px;
    }
    /* 右下角联系我们 */
    #AMGleftbottom {
        width: 40px;
        height: 40px;
        position: fixed;
        right: 0;
        bottom: 150px;
        z-index: 100;
        border: none;
        box-shadow: none;
        cursor: pointer;
        background: url(https://zh8177.top/%E5%8F%B3%E4%B8%8B%E8%A7%92%E8%81%94%E7%B3%BB%E6%88%91%E4%BB%AC.png)center center no-repeat;
        background-size: cover;
    }
}