   #bxdjImg {
       width: 100%;
       height: 86vh;
       background: url(https://zh8177.top/%E9%A6%96%E9%A1%B5%E8%BD%AE%E6%92%AD%E5%9B%BE1.jpg) center center no-repeat;
       background-size: cover;
       display: flex;
       display: -webkit-flex;
       justify-content: center;
       align-items: flex-start;
   }
   
   #bxdjImg img {
       height: 80px;
       margin-top: 30px;
   }
   /* 二级导航 */
   
   #ejdh {
       width: 100%;
       height: 60px;
       display: -webkit-flex;
       justify-content: center;
       align-items: center;
       background: #F6F6F6;
       z-index: 10;
   }
   
   #ejdh p {
       padding: 20px 30px;
       cursor: pointer;
   }
   
   #ejdh p a {
       text-decoration: none;
       color: black;
       padding-bottom: 20px;
   }
   
   #ejdh a:hover {
       color: #00adef;
       border-bottom: 2px solid #00adef;
   }
   /* 冰雪对决 */
   
   #bxdj {
       width: 100%;
       margin-top: 50px;
       display: flex;
       flex-direction: column;
   }
   
   #bxdj>p {
       font: normal 400 36px/50px DaimlerCA-Regular, "SimSun", serif;
       position: relative;
       transform: scaleX(0.7);
       text-align: center;
       color: #666666;
       margin: 50px 0px;
   }
   
   #bxdj>p::before {
       content: '';
       width: 590px;
       height: 1px;
       background-color: #e1e1e1;
       position: absolute;
       left: 90px;
       z-index: 1;
       top: 25px;
   }
   
   #bxdj>p::after {
       content: '';
       width: 590px;
       height: 1px;
       background-color: #e1e1e1;
       position: absolute;
       right: 90px;
       z-index: 1;
       top: 25px;
   }
   
   #bxdj>div:nth-of-type(1) {
       width: 100%;
       height: 822px;
       margin: 0 auto;
       background: url(https://zh8177.top/%E5%86%B0%E9%9B%AA%E5%AF%B9%E5%86%B3.jpg) center center no-repeat;
       background-size: cover;
   }
   
   #bxdj>div:nth-of-type(2) {
       width: 100%;
       padding: 50px 0px;
       display: flex;
       line-height: 25px;
       justify-content: center;
       text-align: center;
   }
   
   #bxdj>div:nth-of-type(2) p {
       width: 940px;
       height: 64px;
       font-size: 16px;
   }
   
   #bxdj>div:nth-of-type(3) {
       width: 100%;
       height: 854px;
       margin-bottom: 100px;
   }
   
   #bxdj>div video {
       width: 100%;
       height: 100%;
       object-fit: fill;
   }
   /* 往期精彩 */
   
   #wqjc {
       width: 100%;
       margin-top: 50px;
   }
   
   #wqjc>p {
       height: 50px;
       font: normal 400 36px/50px DaimlerCA-Regular, "SimSun", serif;
       position: relative;
       transform: scaleX(0.7);
       text-align: center;
       width: auto;
       color: #666666;
       margin: 50px 0px 0px 0px;
   }
   
   #wqjc>p::before {
       content: '';
       width: 590px;
       height: 1px;
       background-color: #e1e1e1;
       position: absolute;
       left: 90px;
       z-index: 1;
       top: 25px;
   }
   
   #wqjc>p::after {
       content: '';
       width: 590px;
       height: 1px;
       background-color: #e1e1e1;
       position: absolute;
       right: 90px;
       z-index: 1;
       top: 25px;
   }
   /* TAB切换 */
   
   #wqjc #nrBox {
       width: 100%;
       display: flex;
       justify-content: center;
       height: 1010px;
   }
   
   #wqjc #nrBox ul {
       position: relative;
       width: 61%;
   }
   
   #wqjc #nrBox ul li input {
       display: none;
   }
   
   #wqjc #nrBox ul li label {
       float: left;
       width: 250px;
       text-align: center;
       line-height: 50px;
       box-sizing: border-box;
       cursor: pointer;
   }
   
   #wqjc #nrBox ul li:nth-of-type(1) label {
       margin-left: 90px;
   }
   
   #wqjc #nrBox ul li input:checked+label {
       color: #00adef;
       border-bottom: solid 3px #00adef;
   }
   
   #wqjc #nrBox ul li .content {
       opacity: 0;
       visibility: hidden;
       position: absolute;
       left: 0;
       top: 65px;
       width: 100%;
       border-top: #c7c7c7 1px solid;
       box-sizing: border-box;
       display: flex;
       flex-direction: column;
   }
   
   #wqjc #nrBox ul li .content div video {
       width: 49%;
       display: block;
   }
   
   #wqjc #nrBox ul li:nth-of-type(1) .content>div {
       width: 100%;
       display: flex;
       justify-content: space-between;
       margin: 10px 0px;
       height: 300px;
   }
   
   #wqjc #nrBox ul li:nth-of-type(1) .content>div:nth-of-type(2) {
       width: 100%;
       display: flex;
       justify-content: space-between;
   }
   
   #nrBox ul li:nth-of-type(1) .content>div:nth-of-type(2)>div {
       width: 49%;
   }
   
   #wqjc #nrBox ul li:nth-of-type(1) .content>div:nth-of-type(2)>div:nth-of-type(1) {
       height: 100%;
       background: url(https://zh8177.top/%E5%86%B0%E9%9B%AA%E5%AF%B9%E5%86%B3%E5%A5%94%E9%A9%B0logo.jpg)center center no-repeat;
       background-size: cover;
   }
   
   #wqjc #nrBox ul li:nth-of-type(1) .content>div:nth-of-type(2)>div:nth-of-type(2) {
       display: flex;
       justify-content: space-between;
       flex-direction: column;
   }
   
   #wqjc #nrBox ul li:nth-of-type(1) .content>div:nth-of-type(2)>div:nth-of-type(2) img {
       height: 49%;
   }
   
   #wqjc #nrBox ul li:nth-of-type(1) .content>div:nth-of-type(3) {
       width: 100%;
       background: url(https://zh8177.top/%E6%B2%99%E6%BC%A0%E5%A5%94%E9%A9%B0.jpg)center center no-repeat;
       background-size: cover;
   }
   
   #wqjc #nrBox ul li:nth-of-type(2) .content {
       width: 100%;
       display: flex;
       flex-direction: column;
   }
   
   #wqjc #nrBox ul li:nth-of-type(2) .content>div {
       width: 100%;
       height: 300px;
       margin: 10px 0px;
   }
   
   #wqjc #nrBox ul li:nth-of-type(2) .content>div:nth-of-type(1) {
       display: flex;
       justify-content: space-between;
   }
   
   #wqjc #nrBox ul li:nth-of-type(2) .content>div:nth-of-type(1) img {
       width: 49%;
       height: 300px;
   }
   
   #wqjc #nrBox ul li:nth-of-type(2) .content>div:nth-of-type(1) div {
       width: 49%;
       height: 300px;
       display: flex;
       justify-content: space-between;
       flex-direction: column;
   }
   
   #wqjc #nrBox ul li:nth-of-type(2) .content>div:nth-of-type(1) div img {
       width: 100%;
       height: 49%;
   }
   
   #wqjc #nrBox ul li:nth-of-type(2) .content>div:nth-of-type(2) {
       width: 100%;
       height: 300px;
       background: url(https://zh8177.top/%E6%B2%99%E6%BC%A0%E5%A5%94%E9%A9%B0.jpg) center center no-repeat;
       background-size: cover;
   }
   
   #wqjc #nrBox ul li:nth-of-type(2) .content>div:nth-of-type(3) img {
       width: 49%;
       height: 300px;
   }
   
   #wqjc #nrBox ul li:nth-of-type(2) .content>div:nth-of-type(3) {
       display: flex;
       justify-content: space-between;
   }
   
   #wqjc #nrBox ul li:nth-of-type(2) .content>div:nth-of-type(3) div {
       width: 49%;
       height: 300px;
       display: flex;
       justify-content: space-between;
       flex-direction: column;
   }
   
   #wqjc #nrBox ul li:nth-of-type(2) .content>div:nth-of-type(3) div img {
       width: 100%;
       height: 49%;
   }
   
   #wqjc #nrBox ul li:nth-of-type(3) .content {
       width: 100%;
       display: flex;
       flex-direction: column;
   }
   
   #wqjc #nrBox ul li:nth-of-type(3) .content div {
       width: 100%;
       height: 300px;
       margin: 10px 0;
   }
   
   #wqjc #nrBox ul li:nth-of-type(3) .content div:nth-of-type(1) {
       display: flex;
       justify-content: space-between;
   }
   
   #wqjc #nrBox ul li:nth-of-type(3) .content div:nth-of-type(2) {
       height: 400px;
       background: url(https://zh8177.top/%E5%A5%94%E9%A9%B0AMG%E5%A4%A7G.jpg) center center no-repeat;
       background-size: cover;
   }
   
   #wqjc #nrBox ul li input:checked~.content {
       opacity: 1;
       transition: opacity 1s;
       visibility: visible;
   }
   /* 活动咨询 */
   
   #hdzx {
       width: 100%;
       height: 720px;
       background: url(https://zh8177.top/%E5%8D%8A%E4%B8%AA%E5%A5%94%E9%A9%B0.png) right center no-repeat;
   }
   
   #hdzx>p {
       height: 50px;
       font: normal 400 36px/50px DaimlerCA-Regular, "SimSun", serif;
       position: relative;
       transform: scaleX(0.7);
       text-align: center;
       width: auto;
       color: #666666;
       margin: 50px 0px 0px 0px;
   }
   
   #hdzx>p::before {
       content: '';
       width: 590px;
       height: 1px;
       background-color: #e1e1e1;
       position: absolute;
       left: 90px;
       z-index: 1;
       top: 25px;
   }
   
   #hdzx>p::after {
       content: '';
       width: 590px;
       height: 1px;
       background-color: #e1e1e1;
       position: absolute;
       right: 90px;
       z-index: 1;
       top: 25px;
   }
   
   #hdzx>div {
       width: 940px;
       margin: 0 auto;
   }
   
   #hdzx>div>div {
       width: 300px;
       height: 512px;
       float: left;
   }
   
   #hdzx>div>div p {
       margin-top: 60px;
       color: #666666;
   }
   
   #hdzx>div>div input:focus {
       outline: none;
   }
   
   #hdzx>div>div input[type=text] {
       width: 300px;
       border: none;
       margin-top: 60px;
       color: rgba(0, 0, 0, 1);
       padding: 10px 0px;
       border-bottom: 1px solid #CCCCCC;
   }
   
   #hdzx>div>div input[type=radio] {
       width: 18px;
       height: 18px;
   }
   
   #hdzx>div>div>div {
       position: relative;
   }
   
   #hdzx>div>div>div img {
       position: absolute;
   }
   
   #hdzx>input:last-of-type {
       margin: 30px 0px 30px 0px;
   }
   
   #hdzx a {
       color: #00adef;
       text-decoration: none;
   }
   
   #hdzx>div>div>p:last-of-type button {
       padding: 10px 50px;
       color: white;
       background: #00adef;
       border: none;
   }
   /* 鼠标移上去动画 */
   
   #nrBox img:hover {
       opacity: 0.4;
       transition: all 0.5s;
   }
   
   #nrBox video:hover {
       opacity: 0.4;
       transition: all 0.5s;
   }
   /* 二级导航高亮显示 */
   
   #ejdh p .current {
       color: #00adef;
       border-bottom: 2px solid #00adef;
   }