#czjxs {
    width: 61%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 40px;
}

#czjxs>p {
    height: 50px;
    font: normal 400 36px/50px DaimlerCA-Regular, "SimSun", serif;
    position: relative;
    transform: scaleX(0.7);
    text-align: center;
    width: auto;
    color: #666666;
    margin-bottom: 30px;
}

#czjxs>p::before {
    content: '';
    width: 590px;
    height: 1px;
    background-color: #e1e1e1;
    position: absolute;
    left: -230px;
    z-index: 1;
    top: 25px;
}

#czjxs>p::after {
    content: '';
    width: 590px;
    height: 1px;
    background-color: #e1e1e1;
    position: absolute;
    right: -230px;
    z-index: 1;
    top: 25px;
}

#mapLeft {
    position: absolute;
    top: 10px;
    left: 100px;
    width: 375px;
    height: 580px;
    z-index: 100;
    box-sizing: border-box;
    box-shadow: 0 0 -5px gray;
    background-color: white;
}

#mapLeft>p:nth-of-type(1) {
    width: 100%;
    height: 16px;
    line-height: 16px;
    position: relative;
    padding: 20px;
    padding-left: 50px;
    font-size: 10px;
    color: gray;
    vertical-align: middle;
}

#mapLeft>p:nth-of-type(1) a {
    color: black;
    font-size: 12px;
    text-decoration: none;
}

#mapLeft>input {
    display: block;
    width: 305px;
    height: 35px;
    background: url(../img/search.svg) 10px center no-repeat;
    /* background-size: cover; */
    line-height: 35px;
    padding-left: 30px;
    margin: 0px auto;
    outline: none;
    margin-bottom: 15px;
    border: 1px #D8D8D8 solid;
}

#mapLeft>div:nth-of-type(1) {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    padding-left: 15px;
    box-sizing: border-box;
    background: #EFEFEF;
}

#mapLeft>div:nth-of-type(1)>span {
    display: inline-block;
    width: 71px;
    height: 18px;
    line-height: 18px;
    padding: 0px 10px;
    font-size: 12px;
    color: #00adef;
    margin-left: 110px;
    cursor: pointer;
    background: white;
    border: 1px solid #00adef;
}

#mapLeft>p:nth-of-type(2) {
    width: 100%;
    height: 40px;
    font-size: 12px;
    color: gray;
    border-bottom: 1px #D8D8D8 solid;
    padding-left: 10px;
    line-height: 40px;
}

#mapLeft #jxs {
    width: 100%;
    padding: 10px;
    border-bottom: 1px #D8D8D8 solid;
}

#mapLeft #jxs h6 span {
    margin-left: 135px;
    font-size: 12px;
    color: gray;
    font-weight: 300;
}

#mapLeft #jxs p {
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

#mapLeft #jxs ul {
    cursor: pointer;
    background: url(../img/map下拉.svg) 330px center no-repeat;
}

#mapLeft #jxs ul li {
    font-size: 12px;
    color: gray;
    display: inline-block;
    list-style: circle;
    margin-left: 8px;
    padding-right: 10px;
    background: url(../img/黑心小圆点.svg) right center no-repeat;
}

#mapBottom {
    width: 61%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 40px;
}

#mapBottom>p:nth-of-type(1) {
    height: 50px;
    font: normal 400 36px/50px DaimlerCA-Regular, "SimSun", serif;
    position: relative;
    transform: scaleX(0.7);
    text-align: center;
    width: auto;
    color: #666666;
    margin-bottom: 30px;
}

#mapBottom>p:nth-of-type(1)::before {
    content: '';
    width: 430px;
    height: 1px;
    background-color: #e1e1e1;
    position: absolute;
    left: -200px;
    z-index: 1;
    top: 25px;
}

#mapBottom>p:nth-of-type(1)::after {
    content: '';
    width: 430px;
    height: 1px;
    background-color: #e1e1e1;
    position: absolute;
    right: -200px;
    z-index: 1;
    top: 25px;
}

#mapBottom>p:nth-of-type(2) {
    height: 60px;
    line-height: 30px;
    margin: 80px 0px 50px 0px;
}

#mapBottom>div>img {
    width: 940px;
    height: 375px;
    margin: 0 auto;
}