    * {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
        list-style: none;
        outline: none;
    }
    /* PC端 */
    
    @media only screen and (min-device-width: 1024px) and (max-device-width: 3000px) {
        #navBar {
            width: 100%;
            height: 110px;
            background: black;
            position: fixed;
            top: 0px;
            font-size: 14px;
            transition: all 0.6s;
            z-index: 10000;
        }
        #navBar>a img {
            width: 260px;
            height: 64px;
            margin-left: 290px;
            margin-top: 22px;
            float: left;
        }
        #navBar ul {
            float: left;
            margin-left: 20px;
            margin-top: 22px;
            position: relative;
        }
        #navBar ul li {
            float: left;
            color: white;
            text-align: center;
            margin-top: 40px;
        }
        #navBar ul li:nth-of-type(1) {
            width: 68px;
            height: 60px;
        }
        #navBar ul li:nth-of-type(2) {
            width: 96px;
            height: 60px;
        }
        #navBar ul li:nth-of-type(3) {
            width: 96px;
            height: 60px;
        }
        #navBar ul li:nth-of-type(4) {
            width: 132px;
            height: 60px;
        }
        #navBar ul li:nth-of-type(5) {
            width: 136px;
            height: 60px;
        }
        #navBar ul li:nth-of-type(6) {
            width: 60px;
            height: 60px;
            color: #00ADEF;
            margin-left: 20px;
        }
        #navBar ul #searchImg {
            position: absolute;
            right: -45px;
            bottom: 36.5px;
        }
        #navBar ul a {
            color: white;
            text-decoration: none;
        }
        #navBar ul a:hover {
            color: #00ADEF;
        }
        #navBar ul p {
            width: 76px;
            height: 16px;
            position: absolute;
            top: 5px;
            right: -50px;
            text-align: center;
            line-height: 16px;
            background: url(../img/navBar分隔.png) no-repeat center;
            background-size: 20px;
        }
        #navBar ul p a {
            font-size: 12px;
        }
        body {
            background: #F5F5F5;
            color: gray;
            font-family: tahoma;
        }
        p {
            font-family: tahoma;
            font-size: 24px;
            color: #757575;
        }
        #lxwm {
            width: 100%;
            height: 580px;
            margin-top: 108px;
            background: url(../img/AMG联系我们背景图.jpg) center center no-repeat;
            background-size: cover;
        }
        #lxwm #wrap {
            width: 530px;
            height: 580px;
            margin: 0 auto;
            opacity: 0.3;
            transition: all 1s ease-in-out .3s;
        }
        #lxwm #wrap:hover {
            opacity: 1;
        }
        #lxwm #form-wrap {
            overflow: hidden;
            height: 447px;
            position: relative;
            top: 0px;
            transition: all 1s ease-in-out .3s;
        }
        #lxwm #form-wrap:before {
            content: "";
            position: absolute;
            bottom: 128px;
            left: 0px;
            background: url('../img/before.png');
            width: 530px;
            height: 317px;
        }
        #lxwm #form-wrap:after {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0;
            background: url('../img/after.png');
            width: 530px;
            height: 259px;
        }
        #lxwm #form-wrap:hover {
            height: 777px;
            top: -200px;
        }
        #lxwm form {
            background: url('../img/letter_bg.png');
            position: relative;
            top: 200px;
            overflow: hidden;
            height: 200px;
            width: 400px;
            margin: 0px auto;
            padding: 20px;
            border: 1px solid white;
            border-right: 3px;
            transition: all 1s ease-in-out .3s;
        }
        #lxwm #form-wrap:hover form {
            height: 530px;
        }
        #lxwm lable {
            margin: 11px 20px 0 0;
            font-size: 15px;
            color: gray;
            text-transform: uppercase;
        }
        #lxwm input[type=text],
        #lxwm textarea {
            font: 14px normal uppercase, arial, serif;
            color: dimgray;
            background: none;
            width: 365px;
            height: 37px;
            padding: 0px 10px;
            margin: 0 0 10px 0;
            border: 1px solid #BDBDBD;
            border-radius: 5px;
        }
        #lxwm textarea {
            height: 80px;
            padding-top: 14px;
        }
        #lxwm textarea:focus,
        #lxwm input[type=text]:focus {
            background: url('../img/letter_bg.png');
        }
        #lxwm #form-wrap input[type=submit] {
            position: relative;
            font-family: tahoma;
            font-size: 24px;
            color: gray;
            width: 100%;
            text-align: center;
            opacity: 0;
            background: none;
            cursor: pointer;
            border-radius: 3px;
            transition: opacity 0.7s ease-in-out 0s;
        }
        #lxwm #form-wrap:hover input[type=submit] {
            z-index: 1;
            opacity: 1;
            transition: opacity 0.5s ease-in-out 1.3s;
        }
        #banquan {
            width: 100%;
            height: 74px;
            margin: 0 auto;
            background: black;
            font-size: 12px;
            padding: 20px;
        }
        #banquan div a {
            text-decoration: none;
            color: #aaaaaa;
        }
        #banquan div:nth-of-type(1) {
            width: 155px;
            margin: 0 auto;
        }
        #banquan div:nth-of-type(2) {
            width: 660px;
            margin: 0 auto;
            margin-top: 8px;
        }
        #banquan div:nth-of-type(2) a {
            margin: 0px 8px;
        }
        #banquan div:nth-of-type(1) a:hover {
            color: #0090FF;
        }
        #banquan div:nth-of-type(2) a:hover {
            color: #0090FF;
        }
    }
    /* 移动端 */
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
        body {
            background: #F5F5F5;
            color: gray;
            font-family: tahoma;
            width: 100%;
            overflow-x: hidden;
        }
        #navBar {
            width: 100%;
            height: 80px;
            position: relative;
            background: black;
        }
        #navBar>a img {
            margin: 18px 0px 0px 20px;
            width: 162px;
            height: 40px;
        }
        #navBar>p {
            width: 25px;
            height: 25px;
            position: absolute;
            top: 40%;
            right: 20px;
            background: url(../img/更多.svg) no-repeat;
        }
        #lxwm {
            width: 100%;
            height: 100%;
            background: url(../img/AMG联系我们背景图.jpg) center center no-repeat;
            background-size: cover;
        }
        #lxwm #wrap {
            width: 100%;
            height: 545px;
            /* margin: 0 auto; */
            transition: all 1s ease-in-out .3s;
        }
        #lxwm #form-wrap {
            overflow: hidden;
            height: 447px;
            position: relative;
            top: 100px;
            transition: all 1s ease-in-out .3s;
        }
        #lxwm #form-wrap:before {
            content: "";
            position: absolute;
            bottom: 210px;
            left: 8.5%;
            background: url('../img/before.png');
            background-size: cover;
            width: 350px;
            height: 217px;
        }
        #lxwm #form-wrap:after {
            content: "";
            position: absolute;
            bottom: 140px;
            left: 8.5%;
            background: url('../img/after.png');
            background-size: cover;
            width: 350px;
            height: 159px;
        }
        #lxwm #form-wrap:hover {
            height: 777px;
            top: -150px;
        }
        #lxwm form {
            background: url('../img/letter_bg.png');
            position: relative;
            top: 150px;
            overflow: hidden;
            height: 150px;
            width: 60%;
            margin: 0px auto;
            padding: 20px;
            border: 1px solid white;
            border-right: 3px;
            opacity: 0.8;
            transition: all 1s ease-in-out .3s;
        }
        #lxwm #form-wrap:hover form {
            top: 200px;
            opacity: 1;
            transition: all 1s ease-in-out .3s;
            height: 360px;
        }
        #lxwm lable {
            margin: 11px 20px 0 0;
            font-size: 15px;
            color: gray;
            text-transform: uppercase;
        }
        #lxwm input[type=text],
        #lxwm textarea {
            font: 14px normal uppercase, arial, serif;
            color: dimgray;
            background: none;
            width: 95%;
            height: 37px;
            padding: 0px 10px;
            margin: 0 0 10px 0;
            border: 1px solid #BDBDBD;
            border-radius: 5px;
        }
        #lxwm textarea {
            width: 200px;
            height: 80px;
            padding-top: 14px;
        }
        #lxwm textarea:focus,
        #lxwm input[type=text]:focus {
            background: url('../img/letter_bg.png');
        }
        #lxwm #form-wrap input[type=submit] {
            position: relative;
            font-size: 18px;
            color: gray;
            width: 100%;
            text-align: center;
            opacity: 0;
            background: none;
            cursor: pointer;
            border-radius: 3px;
            transition: opacity 0.7s ease-in-out 0s;
        }
        #lxwm #form-wrap:hover input[type=submit] {
            z-index: 1;
            opacity: 1;
            transition: opacity 0.5s ease-in-out 1.3s;
        }
        #banquan {
            width: 100%;
            height: 110px;
            margin: 0 auto;
            background: black;
            font-size: 12px;
            padding-top: 30px;
        }
        #banquan div a {
            text-decoration: none;
            color: #aaaaaa;
            font-size: 12px;
        }
        #banquan div:nth-of-type(1) {
            width: 100%;
            text-align: center;
            margin: 0 auto;
        }
        #banquan div:nth-of-type(2) {
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 10px;
        }
        #banquan div:nth-of-type(2) a {
            margin: 0px 8px;
            line-height: 20px;
        }
    }