/* PC端 */


/* 包含ipadPro  */

@media only screen and (min-device-width: 1024px) and (max-device-width: 3000px) {
    body {
        background: #F2F2F2;
    }
    #xlxfw {
        width: 100%;
        height: 651px;
        background: url(http://q6ayyk4mw.bkt.clouddn.com/%E8%BD%AE%E6%92%AD%E5%9B%BE.jpg)center center no-repeat;
        background-size: cover;
    }
    #xlxfwBody {
        width: 800px;
        margin: 0 auto;
        background: white;
        margin-top: -143px;
        padding: 70px 70px 40px 70px;
        margin-bottom: 100px;
    }
    #xlxfwBody p:nth-of-type(1) {
        transform: scaleX(0.7);
        transform-origin: left;
        width: 142.857143%;
        font-weight: normal;
        font: normal 400 36px DaimlerCA-Regular, "SimSun", serif;
        color: #666;
        margin-bottom: 10px;
    }
    #xlxfwBody p:nth-of-type(2) {
        transform: scaleX(0.7);
        transform-origin: left;
        width: 142.857143%;
        font-weight: normal;
        font: normal 400 24px DaimlerCA-Regular, "SimSun", serif;
        color: #5A5D5A;
        margin-top: 20px;
    }
    #xlxfwBody p:nth-of-type(3) {
        font-size: 14px;
        margin: 30px 0px 80px;
        color: gray;
    }
    #xlxfwBody div {
        width: 800px;
        height: 9200px;
        margin: 0 auto;
        background: url(http://q6ayyk4mw.bkt.clouddn.com/%E6%98%9F%E8%BF%9E%E5%BF%83%E6%9C%8D%E5%8A%A1.jpg) center center no-repeat;
        background-size: cover;
        margin-bottom: 50px;
    }
}


/* 移动端 */


/* Apple全系 */

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }
    #xlxfw {
        width: 100%;
        height: 177px;
        margin-top: 80px;
        background: url(http://q6ayyk4mw.bkt.clouddn.com/%E8%BD%AE%E6%92%AD%E5%9B%BE.jpg)center center no-repeat;
        background-size: cover;
    }
    #navBar div>img {
        width: 40%;
    }
    #navBar div>p {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 40%;
        right: 20px;
        background: url(http://q6ayyk4mw.bkt.clouddn.com/%E6%9B%B4%E5%A4%9A.svg) no-repeat;
    }
    #xlxfwBody {
        width: 95%;
        margin: 0 auto;
        background: white;
        margin-bottom: 50px;
    }
    #xlxfwBody p:nth-of-type(1) {
        font: 22px "Microsoft YaHei";
        color: #666666;
        transform: scaleX(0.7);
        padding-top: 30px;
        margin-left: -60px;
        margin-bottom: 20px;
    }
    #xlxfwBody p:nth-of-type(2) {
        transform: scaleX(0.7);
        font: 18px "Microsoft YaHei";
        color: #5A5D5A;
        margin-left: -60px;
    }
    #xlxfwBody p:nth-of-type(3) {
        font: 14px "Microsoft YaHei";
        color: gray;
        margin: 10px 0px 20px 8px;
    }
    #xlxfwBody div {
        width: 100%;
        height: 4200px;
        margin: 0 auto;
        background: url(http://q6ayyk4mw.bkt.clouddn.com/%E6%98%9F%E8%BF%9E%E5%BF%83%E6%9C%8D%E5%8A%A1.jpg) center center no-repeat;
        background-size: cover;
    }
}